:root {
  --main-link-style: #2e2e2e;
  --span-color: #495057;
}

* {
  margin: 0;
  padding: 0;
}
span {
  color: var(--span-color);
}
body {
  box-sizing: border-box;
}
.__bg-primary-gray {
  background-color: rgba(128, 128, 128, 0.137);
}

.bg-header {
  background-image: url(./ganyu-with-qiqi-genshin-impact-anime-video-game-wallpaper-2560x1440_51.jpg);
}
.icon-style::before {
  /* margin-top: 1rem; */
}

.__style-link {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  color: var(--main-link-style);
}
